**Name: Prithvi R**

**Reg.No: URK21CS1102**

**Institution: Karunya Institute of Technology and Sciences**

**Batch: A58 (June-July)**

**TASK 2**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('IMDb Movies India.csv', encoding='ISO-8859-1')
df.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [3]:
df.isnull().sum()

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [4]:
df.fillna(method = 'ffill', inplace = True)

In [5]:
df.isnull().sum()

Name        0
Year        1
Duration    1
Genre       0
Rating      1
Votes       1
Director    0
Actor 1     0
Actor 2     0
Actor 3     0
dtype: int64

In [6]:
df.dropna(inplace = True)

In [7]:
df.isnull().sum()

Name        0
Year        0
Duration    0
Genre       0
Rating      0
Votes       0
Director    0
Actor 1     0
Actor 2     0
Actor 3     0
dtype: int64

**Removing the paranthesis from the dataset**

In [8]:
df['Year'] = df['Year'].str.replace(r'[()]', '', regex = True).astype(int)

**Removing the word 'min' from the attribute 'Duration'**

In [9]:
df['Duration'] = pd.to_numeric(df['Duration'].str.replace(' min', ''))

In [10]:
df.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,#Gadhvi (He thought he was Gandhi),2019,109,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,2021,90,"Drama, Musical",7.0,8,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,2019,110,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,2010,105,Drama,4.4,35,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
5,...Aur Pyaar Ho Gaya,1997,147,"Comedy, Drama, Musical",4.7,827,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor

**Keeping the unique values of genres and replacing the null values with mode**

In [11]:
df['Genre'] = df['Genre'].str.split(', ')

In [12]:
df = df.explode('Genre')
df['Genre'].fillna(df['Genre'].mode()[0], inplace = True)

In [13]:
df

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,#Gadhvi (He thought he was Gandhi),2019,109,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,2021,90,Drama,7.0,8,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
2,#Homecoming,2021,90,Musical,7.0,8,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,2019,110,Comedy,4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
3,#Yaaram,2019,110,Romance,4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
...,...,...,...,...,...,...,...,...,...,...
15505,Zulmi,1999,129,Drama,4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,Zulmi Raj,2005,129,Action,4.5,655,Kiran Thej,Sangeeta Tiwari,Twinkle Khanna,Aruna Irani
15507,Zulmi Shikari,1988,129,Action,4.5,655,Kiran Thej,Sangeeta Tiwari,Twinkle Khanna,Aruna Irani
15508,Zulm-O-Sitam,1998,130,Action,6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja
15508,Zulm-O-Sitam,1998,130,Drama,6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

**Dropm Column 'Name' as Linear Regression should not have any 'Object' data types**

In [15]:
df.drop('Name', axis = 1, inplace = True)

In [16]:
df.head()

,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,2019,109,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,2021,90,Drama,7.0,8,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
2,2021,90,Musical,7.0,8,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,2019,110,Comedy,4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
3,2019,110,Romance,4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor

In [17]:
director_rating = df.groupby('Director')['Rating'].transform('mean')
df['Director'] = director_rating

In [18]:
df.head()

,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,2019,109,Drama,7.0,8,7.0,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,2021,90,Drama,7.0,8,7.0,Sayani Gupta,Plabita Borthakur,Roy Angana
2,2021,90,Musical,7.0,8,7.0,Sayani Gupta,Plabita Borthakur,Roy Angana
3,2019,110,Comedy,4.4,35,4.4,Prateik,Ishita Raj,Siddhant Kapoor
3,2019,110,Romance,4.4,35,4.4,Prateik,Ishita Raj,Siddhant Kapoor

In [19]:
a1_rating = df.groupby('Actor 1')['Rating'].transform('mean')
df['Actor 1'] = a1_rating

In [20]:
genre_rating = df.groupby('Genre')['Rating'].transform('mean')
df['Genre'] = genre_rating

In [21]:
df['Votes'] = df['Votes'].str.replace(',', '')
df['Votes'] = df['Votes'].str.replace(r'\$(\d+\.\d+)M', lambda x: str(float(x.group(1)) * 1_000_000), regex=True)
df['Votes'] = pd.to_numeric(df['Votes'], errors='coerce')

In [22]:
a2_rating = df.groupby('Actor 2')['Rating'].transform('mean')
df['Actor 2'] = a2_rating

In [23]:
df.head()

,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,2019,109,5.995298,7.0,8.0,7.0,6.85,7.00,Arvind Jangid
2,2021,90,5.995298,7.0,8.0,7.0,6.74,6.96,Roy Angana
2,2021,90,6.096731,7.0,8.0,7.0,6.74,6.96,Roy Angana
3,2019,110,5.748680,4.4,35.0,4.4,5.25,4.40,Siddhant Kapoor
3,2019,110,5.767269,4.4,35.0,4.4,5.25,4.40,Siddhant Kapoor

In [24]:
a3_rating = df.groupby('Actor 3')['Rating'].transform('mean')
df['Actor 3'] = a3_rating

In [25]:
df.head()

,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,2019,109,5.995298,7.0,8.0,7.0,6.85,7.00,7.00
2,2021,90,5.995298,7.0,8.0,7.0,6.74,6.96,7.00
2,2021,90,6.096731,7.0,8.0,7.0,6.74,6.96,7.00
3,2019,110,5.748680,4.4,35.0,4.4,5.25,4.40,4.46
3,2019,110,5.767269,4.4,35.0,4.4,5.25,4.40,4.46

In [26]:
df['Votes']

1          8.0
2          8.0
2          8.0
3         35.0
3         35.0
         ...
15505    655.0
15506    655.0
15507    655.0
15508     20.0
15508     20.0
Name: Votes, Length: 26187, dtype: float64

In [27]:
X = df[['Year', 'Duration','Votes', 'Director', 'Actor 1',
       'Actor 2', 'Actor 3']]
Y = df['Rating']

In [28]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 45)

In [29]:
regressor = LinearRegression()

In [30]:
regressor.fit(X_train, Y_train)

LinearRegression()

In [31]:
Y_pred = regressor.predict(X_test)
Y_pred

array([6.78435882, 6.44475915, 4.63262751, ..., 6.22292161, 3.16493057,
       5.23884007])

In [36]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Evaluate the model
mae = mean_absolute_error(Y_test, Y_pred)
mse = mean_squared_error(Y_test, Y_pred)
r2 = r2_score(Y_test, Y_pred)

print(f"Mean Absolute Error: {mae}")
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Absolute Error: 0.5637360481140309
Mean Squared Error: 0.569510057297193
R-squared: 0.6939060161301323

**Model Testing**

In [33]:
df.head()

,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,2019,109,5.995298,7.0,8.0,7.0,6.85,7.00,7.00
2,2021,90,5.995298,7.0,8.0,7.0,6.74,6.96,7.00
2,2021,90,6.096731,7.0,8.0,7.0,6.74,6.96,7.00
3,2019,110,5.748680,4.4,35.0,4.4,5.25,4.40,4.46
3,2019,110,5.767269,4.4,35.0,4.4,5.25,4.40,4.46

In [34]:
data = {'Year': [2023], 'Votes': [13], 'Duration': [121], 'Genre': [7.8], 'Director': [6.0], 'Actor 1': [6.98], 'Actor 2': [6.85], 'Actor 3': [8.58]}
test = pd.DataFrame(data)

In [35]:
test = test[X.columns]
predict = regressor.predict(test)
print(f"Predicted Rating: {predict[0]}")

Predicted Rating: 7.582192691976574